# Dependencies
**/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files (in root, client, server, etc.)
**/.env
**/.env.*  # e.g. .env.local, .env.development, .env.production

# Next.js build
**/.next
**/out

# Other build artifacts
**/dist
**/build

# OS files
.DS_Store
Thumbs.db

# Vercel / Deployment
.vercel

# Turbo / Monorepo cache (if you use turborepo later)
.turbo
